html body {
    background-color: #e6e2da;
}

.center {
    text-align: center;
}

.narrow {
    max-width: 500px !important;
    margin: 0 auto !important;
}

.maxwidthinp {
    width: 100%;
    border-radius: 30px !important;
    border: none !important;
    height: 35px;
}

.btn {
    background-color: #4d2a2a !important;
    color: #e6e2da !important;
    border-radius: 30px !important;
}